.planting {
    display: block;
    padding: 2rem 0;

    &__box {
        display: flex;
        margin: 5rem 10rem;
        width: auto;
        background-color: $color-light-1;
        box-shadow: 0 1rem 3rem rgba($color-dark-1, 0.2);
    }

    &__content {
        flex: 1;
    }

    &__img {
        flex: 1;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    &__heading {
        margin: 1rem;
        padding: 1rem;
        font-family: $font-main;
        font-size: 3.5rem;
        text-transform: uppercase;
        color: $color-primary;
        letter-spacing: 0.4rem;

        span {
            color: white;
            background-image: linear-gradient(
                to bottom,
                rgba($color-primary-light,1),
                rgba($color-primary, 1)
            );
            background-color: $color-primary;
            display: inline-block;
            padding: 1rem;
        }
    }

    &__text {
        margin: 1rem;
        padding: 1rem;
        font-family: $font-main;
        font-size: 2.4rem;
        color: $color-primary;
        font-weight: 300;
        position: relative;
    }

    &__quote-symbol {
        display: block;
        position: absolute;
        top: 0;
        font-size: 20rem;
        font-family: Arial;
        color: rgba($color-primary-light, .5);
        margin-top: -3rem;
    }

    &__quote {
        display: block;
        margin-top: 3rem;
    }

    &__quote-ref {
        display: block;
        font-size: 1.4rem;
        margin-top: 1rem;
    }
}