/* Colors */

$color-primary: #064420;
$color-primary-light: #096c32;

$color-secondary: #FAF1E6;
$color-tertiary: #FDFAF6;

$color-light-1: #E4EFE7;
$color-light-2: #c6ddcc;
$color-light-3: #a9ccb2;

$color-dark-1: #333;
$color-dark-2: #666;
$color-dark-3: #999;

/* Fonts */

$font-main: Lato, Arial;

/* Breakpoints */
$screen-large: 1000px;
$screen-medium: 800px;
$screen-small: 600px;